@model Hrms.Lite.Essp.Shared.ESSP.Regularization.AttendanceRegularization
<div id="trainingEmployeeDetails" class="slider-forms slider-forms-open applicationTracker">
    <div class="slider-inner-style">
        <div class="slider-form-close" onclick="CloseSlider('applicationTracker')"><i class="ki ki-close icon-xs text-muted"></i></div>
        <h4 class="mb-4">Application Tracker</h4>
        <div class="profile-header position-relative pb-12 mb-5" style="padding-bottom: 2px !important; padding-top: 5px !important;">
            <div class="row">
                <div class="col-md-2">
                    <div class="image-input image-input-outline image-input-circle float-right" id="kt_image_4" style="background-image: url(images/sample-img.jpg)">
                        <div class="image-input-wrapper">
                        </div>
                    </div>
                </div>
                <div class="col-md-10 pl-7">
        <div class="row">

            <div class="flex-grow-1">
              
                <div class="d-flex justify-content-between flex-wrap">
        <div class="d-flex mr-3 header-profile-name">
            <span class="">
               @Model.AttendanceRegularizationMyTeamList[0].employeeHeader.EmployeeName
            </span>
            <span>
                ( @Model.AttendanceRegularizationMyTeamList[0].employeeHeader.EmployeeId
                )
            </span>

        </div>

    </div>
         
                
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="d-flex flex-column flex-grow-1 pr-8">
                        <div class="d-flex flex-wrap mb-1">
                            <span data-toggle="tooltip" data-original-title="Designation" class="header-profile-email mr-5 mb-lg-0 mb-2">
                                <i class="fas fa-briefcase icon-nm mr-2"></i>
                                @Model.AttendanceRegularizationMyTeamList[0].employeeHeader.Designation.Name
                            </span>
                            <span data-toggle="tooltip" data-original-title="Department" class="header-profile-email mr-5 mb-lg-0 mb-2">
                                <i class="fas fa-network-wired icon-nm mr-2"></i>
                                @Model.AttendanceRegularizationMyTeamList[0].employeeHeader.Department.Name
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



                @*<div class="profile-header position-relative pb-12 mb-5"
                     style="padding-bottom: 2px !important; padding-top: 5px !important;">
                    <div class="row">
                        @await Html.PartialAsync("~/Areas/ESSP/Views/Shared/_EmployeeSliderHeader.cshtml", Model.employeeHeader)
                    </div>
                    <div class="profile-header-overflow"></div>
                </div>*@






            </div>
            <div class="profile-header-overflow"></div>
        </div>




        <!----- stepper start here --->
        <div>
            <!-- completed -->
            @if (Model.LeaveApplication.Tracker != null && Model.LeaveApplication.Tracker.Count > 0)
            {
                if (@Model.LeaveApplication.Tracker[3].ApprovalStatus == "Pending")

                {

                    <div class="step">
                        <div class="v-stepper">
                            <div class="circle"><i class="fa fa-check"></i></div>
                            <div class="line"></div>
                        </div>

                        <div class="stepper-content">
                            <div class="row-outer">
                                <label class="view-title">@Model.LeaveApplication.Tracker[3].Stage</label>
                                <div class="view-details">
                                    @Model.LeaveApplication.Tracker[3].ApprovalStatus,@Model.LeaveApplication.Tracker[3].Approver
                                </div>
                            </div>



                        </div>
                    </div>
                }
                else
                {
                    <div class="step active completed">
                        <div class="v-stepper">
                            <div class="circle"><i class="fa fa-check"></i></div>
                            <div class="line"></div>
                        </div>

                        <div class="stepper-content">
                            <div class="row-outer">
                                <label class="view-title">@Model.LeaveApplication.Tracker[3].Stage</label>
                                <div class="view-details">
                                    @*Approved, Kuriakose Joseph, 28/Apr/2022 12:16*@
                                    @Model.LeaveApplication.Tracker[3].ApprovalStatus,@Model.LeaveApplication.Tracker[3].Approver,@Html.Encode(String.Format("{0:dd-MMM-yyyy hh:mm}", @Model.LeaveApplication.Tracker[3].Date))
                                </div>
                            </div>
                        </div>
                    </div>

                }

                if (@Model.LeaveApplication.Tracker[2].ApprovalStatus == "Pending")
                {
                    <!-- active -->
                    <div class="step">
                        <div class="v-stepper">
                            <div class="circle"><i class="fa fa-check"></i></div>
                            <div class="line"></div>
                        </div>

                        <div class="stepper-content">
                            <div class="row-outer">
                                <label class="view-title">@Model.LeaveApplication.Tracker[2].Stage</label>
                                <div class="view-details">
                                    @Model.LeaveApplication.Tracker[3].ApprovalStatus,@Model.LeaveApplication.Tracker[3].Approver
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="step active completed">
                        <div class="v-stepper">
                            <div class="circle"><i class="fa fa-check"></i></div>
                            <div class="line"></div>
                        </div>

                        <div class="stepper-content">
                            <div class="row-outer">
                                <label class="view-title">@Model.LeaveApplication.Tracker[2].Stage</label>
                                <div class="view-details">
                                    @Model.LeaveApplication.Tracker[2].ApprovalStatus,@Model.LeaveApplication.Tracker[2].Approver,@Html.Encode(String.Format("{0:dd-MMM-yyyy hh:mm}", @Model.LeaveApplication.Tracker[2].Date))
                                </div>
                            </div>
                        </div>
                    </div>
                }
                if (@Model.LeaveApplication.Tracker[1].ApprovalStatus == "Pending")
                {
                    <!-- empty -->
                    <div class="step">
                        <div class="v-stepper">
                            <div class="circle"><i class="fa fa-check"></i></div>
                            <div class="line"></div>
                        </div>

                        <div class="stepper-content">
                            <div class="row-outer">
                                <label class="view-title">@Model.LeaveApplication.Tracker[1].Stage</label>
                                <div class="view-details">
                                    @Model.LeaveApplication.Tracker[1].ApprovalStatus,@Model.LeaveApplication.Tracker[1].Approver
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="step active completed">
                        <div class="v-stepper">
                            <div class="circle"><i class="fa fa-check"></i></div>
                            <div class="line"></div>
                        </div>

                        <div class="stepper-content">
                            <div class="row-outer">

                                <label class="view-title">@Model.LeaveApplication.Tracker[1].Stage</label>
                                <div class="view-details">
                                    @Model.LeaveApplication.Tracker[1].ApprovalStatus,@Model.LeaveApplication.Tracker[1].Approver,@Html.Encode(String.Format("{0:dd-MMM-yyyy hh:mm}", @Model.LeaveApplication.Tracker[1].Date))
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <!-- regular -->
                <div class="step active completed">
                    <div class="v-stepper">
                        <div class="circle"><i class="fa fa-check"></i></div>
                        <div class="line"></div>
                    </div>

                    <div class="stepper-content">
                        <div class="row-outer">

                            <label class="view-title">@Model.LeaveApplication.Tracker[0].Stage</label>
                            <div class="view-details">
                                @Model.LeaveApplication.Tracker[0].ApprovalStatus,@Html.Encode(String.Format("{0:dd-MMM-yyyy hh:mm}", @Model.LeaveApplication.Tracker[0].Date))
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!----- stepper end here --->
        <!--table start here-->
        <div class="ihits-table table-border mobile-responsive-table mb-5">
            <table>
                <thead>
                    <tr class="table-light">
                        <th style="width: 25%;" scope="col">Type</th>

                        <th scope="col">No of days</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>


                    </tr>
                </thead>
                <tbody>
                    @{


                        if (Model.AttendanceRegularizationMyTeamList != null && Model.AttendanceRegularizationMyTeamList.Count > 0)
                        {
                            for (int i = 0; i < Model.AttendanceRegularizationMyTeamList.Count; i++)

                            {
                                <tr>
                                    <td data-label="ID">@Model.AttendanceRegularizationMyTeamList[i].LeaveType</td>

                                    <td data-label="No of days">
                                       @Model.AttendanceRegularizationMyTeamList[i].TotalDays
                                    </td>

                                    <td data-label="From">
                                        @Html.Encode(String.Format("{0:dd-MMM-yyyy}", Model.AttendanceRegularizationMyTeamList[i].FromDate))
                                    </td>

                                    <td data-label="To">
                                        @Html.Encode(String.Format("{0:dd-MMM-yyyy}", Model.AttendanceRegularizationMyTeamList[i].ToDate))
                                    </td>

                                </tr>

                                }
                            }
                        }
                            </tbody>
            </table>
        </div>

        <!--table start end-->




        <div class="row">
            <div class="col-md-6">
                <div class="row-outer">
                    <label class="view-title">Reason</label>
                    <div class="view-details">
                       @Model.LeaveApplication.LeaveReason.Name
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row-outer">
                    <label class="view-title">Additional Remarks</label>
                    <div class="view-details">
                        @Model.LeaveApplication.AdditionalRemarks
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row-outer">
                    <label class="view-title">Work Handover:</label>
                    <div class="view-details">
                        @Model.LeaveApplication.HandOverDetails
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row-outer">
                    <label class="view-title">Contact Details & Address</label>
                    <div class="view-details">
                        @Model.LeaveApplication.ContactDetails

                    </div>
                </div>
            </div>
        </div>






        <div class="row card-footer-bottom-fixed">

            <div class="view-details align-right col-md-12">
                <a data-toggle="tooltip" data-original-title="View File" type="button" class="btn btn-small btn-secondary mobile-full-width">
                    <i class="icon-xl far fa-eye"></i>View File
                </a>
            </div>



        </div>




    </div>
</div>