@model Hrms.Lite.Essp.Shared.Essp.Leave.WFHApplication
<script src="~/scripts/ESSP/wfhapplication.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/DataTables-1.11.3/js/jquery.dataTables.min.js" defer></script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        debugger;
        $('.AllCount').html("@Model.TotalCount");
        $('.RejectedCount').html("@Model.RejectedCount");
        $('.ApprovedCount').html("@Model.ApproveCount");
        $('.PendingCount').html("@Model.PendingCount");



        $(".dataTables_filter").addClass("dataTables_filter_trn");
        $('.ihits-table table').removeClass("dataTable no-footer");
        $(".ihits-table table tr th").removeAttr('style')

    });
</script>

@*@using (Html.BeginForm("ApplicationHistory", "WFHApplication", FormMethod.Get, new { @class = "display-flex", enctype = "multipart/form-data" }))
    {*@
<!--begin::Header-->
<div id="kt_header" class="header header-fixed">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <!--begin::Header Menu Wrapper-->


        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <!--begin::Header Menu-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h3 class="main-title">Application History</h3>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item ">
                        <a href="@Url.Action("Index", "Home", new { Area = "" })"><i class="icon-nm fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item text-muted">
                        <a href="@Url.Action("Index", "WFHApplication", new { Area = "ESSP" })"> WFH Application</a>
                    </li>
                    <li class="breadcrumb-item text-muted">
                        Application History
                    </li>

                </ul>
            </div>
        </div>
        <div class="topbar">

            <!--begin::User-->
            <div class="topbar-item">
                <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2"
                     id="kt_quick_user_toggle">
                    <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
                    <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">Sean</span>

                </div>
            </div>
            <!--end::User-->
        </div>
        <!--end::Topbar-->
    </div>
    <!--end::Container-->
</div>
<!--end::Header-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container full-width">
            <!--begin::Dashboard-->
            <!--begin::Row-->



            <div class="card card-custom height-100per footer-row-fixed">

                <div class="card-body">

                    <div class="row tab-style-button">
                        <div class="tab-button-wrap">

                            <div class="tab-items ">
                                @*<span class="btn-title">
                                        Pending
                                        <span class="btn-notification">10</span>
                                    </span>*@
                                <span class="btn-title PendingTab" onclick="tabClick('PendingTab', 'PENDING', 'PENDING')">
                                    Pending
                                    <span class="btn-notification PendingCount">@Model.PendingCount</span>
                                </span>
                            </div>
                            <div class="tab-items high">
                                @*<span class="btn-title active">
                                        Approved
                                        <span class="btn-notification">07</span>
                                    </span>*@
                                <span class="btn-title  ApprovedTab" onclick="tabClick('ApprovedTab', 'APPROVED', 'APPROVED')">
                                    Approved
                                    <span class="btn-notification ApprovedCount">@Model.ApproveCount</span>
                                </span>
                            </div>
                            <div class="tab-items high">
                                @*<span class="btn-title">
                                        Rejected
                                        <span class="btn-notification">4</span>
                                    </span>*@
                                <span class="btn-title RejectedTab" onclick="tabClick('RejectedTab', 'REJECTED', 'REJECTED')">
                                    Rejected
                                    <span class="btn-notification RejectedCount">@Model.RejectedCount</span>
                                </span>
                            </div>
                            <div class="tab-items medium">
                                @*<span class="btn-title">
                                        All
                                        <span class="btn-notification">21</span>
                                    </span>*@
                                <span class="btn-title active AllTab" onclick="tabClick('AllTab', 'ALL', 'ALL')">
                                    All
                                    <span class="btn-notification AllCount">@Model.TotalCount</span>
                                </span>
                            </div>


                            <div class="tab-items select-option">


                                <div class="form-group filter-combobox" style="width: 120px; margin-right: 10px;">


                                    @Html.DropDownListFor(m => m.LeavePeriod.Code, (SelectList)ViewBag.LeavePeriod, new { @class = "form-control form-control-sm", @onchange = "onFilterDropdownChange(this)" })

                                </div>
                                <div class="form-group filter-combobox" style="width: 220px; margin-right: 10px;">

                                    @*@Html.DropDownListFor(m => m.LeaveType.Code, (SelectList)ViewBag.WFHLeaveType, "Work From Home", new { @class = "form-control form-control-sm", @onchange = "onFilterDropdownChange(this)" })*@
                                    @*@Html.DropDownListFor(m => m.LeaveType.Code, (SelectList)ViewBag.Reason, "Work From Home", new { @class = "form-control form-control-sm", @onchange = "onFilterDropdownChange(this)" })*@
                                    @Html.DropDownListFor(m => m.LeaveType.Code, (SelectList)ViewBag.ReasonWithAll, new { @class = "form-control form-control-sm", @onchange = "onFilterDropdownChange(this)" })

                                </div>



                                <div class="sraech-slider" onclick="CursorFocusOnSearch()">
                                    <div class="search-slider-inner">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    @*<input type="text" class="form-control form-control-sm" placeholder="ID/Name">*@
                                </div>

                                <div class="filter-button slider-btn" data-toggle="tooltip" title="Filter" id="filterForm">
                                    <i class="fas fa-filter"></i>
                                </div>
                                <button data-toggle="tooltip" title="" class="btn btn-excel float-left" data-original-title="Export to Excel" onclick="onExportToExcelClick()">
                                    <i class="icon-xl far fa-file-excel"></i>
                                </button>
                            </div>



                        </div>
                    </div>
                    <div id="alllist">
                        @await Html.PartialAsync("_AllList")

                    </div>
                    <div id="trackerSlider">
                        @*@await Html.PartialAsync("_ApplicationTracker")*@
                    </div>




                    <!--end: Datatable-->
                    <div id="filterSlider">
                        @await Html.PartialAsync("~/Views/Shared/_Filter.cshtml", Model.Filter)
                    </div>
                </div>
            </div>


            <!--end::Row-->
            <!--begin::Row-->
            <!--end::Row-->
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->

</div>
<!--end::Content-->
@*}*@