@model Hrms.Lite.Essp.Shared.Essp.Leave.CoffApplication
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/scripts/ESSP/coffApplication.js"></script>
<script>
    const myTimeout = setTimeout(changeFocus, 500);

    function changeFocus() {
        $('#LeaveOn').focus();
        $("#LeaveOn").datepicker('hide');
    }
</script>
@using (Html.BeginForm("Create", "CoffApplication", FormMethod.Post, new { @class = "display-flex", enctype = "multipart/form-data", @onsubmit = "return validateCoffApply()" }))
{

    <!--begin::Header-->
    <div id="kt_header" class="header header-fixed">
        <!--begin::Container-->
        <div class="container-fluid d-flex align-items-stretch justify-content-between">
            <!--begin::Header Menu Wrapper-->


            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                <!--begin::Header Menu-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <h3 class="main-title">Compensatory Off Application</h3>
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item ">
                            <a href="@Url.Action("Index", "Home", new { Area = "" })" class="">
                                <i class="icon-nm fas fa-home mt-1"></i>
                            </a>
                        </li>

                        <li class="breadcrumb-item text-muted">
                            Coff Application
                        </li>

                    </ul>
                </div>
            </div>
            <div class="topbar">

                <!--begin::User-->
                <!--end::User-->
            </div>
            <!--end::Topbar-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container full-width">
                <!--begin::Dashboard-->
                <!--begin::Row-->

                <div class="row">

                    <div class="card card-custom footer-row-fixed no-footer col-md-9">



                        <div class="card-body row">

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="tab-items select-option">
                                            <div class="view-details">

                                                <p>
                                                    <strong>
                                                        Date of Application : @Html.Encode(String.Format("{0:dd-MMM-yyyy}", Model.DateOfApplication))
                                                    </strong>
                                                </p>
                                                @Html.HiddenFor(m => m.DateOfApplication)
                                            </div>


                                        </div>


                                    </div>

                                    <div class="col-4">

                                        <p class="text-muted text-right">@ViewBag.CurrentUser </p>
                                    </div>
                                </div>


                                <!-- leave application form-->





                                <div class="row">


                                    <div class="col-md-3 form-group">
                                        <label>Leave On</label>
                                        <span class="Mandatory">*</span>
                                        <div class="input-group date">
                                            @*<input type="text" class="form-control" id="kt_datepicker_2" readonly="readonly" placeholder="Leave On">*@
                                            @Html.TextBoxFor(m => m.LeaveOn, "{0:dd-MMM-yyyy}", new { @class = "form-control kt_datepicker_2", @readonly = "readonly", @placeholder = "Leave On", @onchange = "onLeaveChange(this,'coffLeaveOn')", @onclick = "$('#LeaveOn').datepicker('show');" })

                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar"></i>
                                                </span>
                                            </div>

                                        </div>
                                        <span id="coffLeaveOn"></span>
                                    </div>





                                    @*<div class="button-group p-6">
                                            <a id="employeevslopbatch" type="button" class="btn btn-default btn-sm" onclick="onProceedClick()">
                                                Proceed
                                            </a>

                                        </div>*@



                                </div>


                                <!-- leave application form-->



                                <div id="coffDayWiseList">
                                    @await Html.PartialAsync("_CoffDayWiseDetails", Model)
                                </div>



                                <!-- leave approval view start -->

                                <div class="row pt-2">
                                    <div class="col-md-6">


                                        <div class="form-group">
                                            <label>Reason</label>
                                            <span class="Mandatory">*</span>
                                            @Html.DropDownListFor(m => m.LeaveReason.Code, (SelectList)ViewBag.Reason, "Select Reason", new { @class = "form-control form-control-sm", @onchange = "validate(this,'coffReason')" })
                                            <span id="coffReason"></span>
                                        </div>



                                        <div class="form-group">
                                            <label>Additional Remarks</label>
                                            @Html.TextBoxFor(m => m.AdditionalRemarks, new { @class = "form-control form-control-sm", @placeholder = "Additional Remarks", maxlength = "250", @autocomplete = "off" })

                                        </div>

                                        <div class="file-upload-form-group">
                                            <label for="formFileMultiple" class="form-label">
                                                Attach
                                                File
                                            </label>

                                            <div class="file-upload-form mb-1">
                                                <div class="small-btn-group">
                                                    <button type="button" data-toggle="tooltip" data-placement="top" data-original-title="View Image" class="btn btn-icon btn-default"><i class="icon-xl far fa-eye"></i></button>
                                                </div>
                                                @Html.TextBoxFor(model => model.Attachment.FileData, null, new { type = "file", @class = "form-control PreviewImage", @onchange = "CheckExtensionAndSize(this)", tabindex = "@(++tabindex)" })

                                            </div>
                                            <label class="font-size-xs">
                                                Only pdf, Jpeg,Jpg,Png and bmp files are allowed ,
                                                File size should be less than 1 MB.
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">


                                        <div class="form-group">
                                            <label>Work Handover Details</label>
                                            @Html.TextBoxFor(m => m.HandOverDetails, new { @class = "form-control form-control-sm", @placeholder = "Work Handover Details", maxlength = "250", @autocomplete = "off" })

                                        </div>




                                        <div class="form-group">
                                            <label>Contact details & Address</label>
                                            @Html.TextBoxFor(m => m.ContactDetails, new { @class = "form-control form-control-sm", @placeholder = "Contact details & Address", maxlength = "250", @autocomplete = "off" })

                                        </div>

                                    </div>




                                </div>


                                <div class="row pt-6">

                                    <div class="col-sm-6">
                                        <a href="@Url.Action("ApplicationHistory","CoffApplication")" class="btn btn-default  mobile-full-width">
                                            Application History
                                        </a>
                                        <a href="@Url.Action("GetCoffBalance","CoffApplication",new {  leavePeriodCode=0, Mode="Create"})" class="btn btn-default  mobile-full-width">
                                            Coff Balance
                                        </a>

                                    </div>


                                    <div class="col-sm-6 align-right">
                                        <button type="submit" class="btn btn-default  mobile-full-width">
                                            Apply
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <!-- leave approval view end -->
                            <!--end: Datatable-->
                        </div>
                    </div>

                    <!-- right leave view start -->
                    <div class="col-md-3">

                        <div class="card-body p-3 right-leave-section">

                            <div class="employee-details-left">
                                <div class="card text-white bg-info mb-3">
                                    <div class="card-body text-center">
                                        @Html.HiddenFor(m => m.TotalDays)
                                        <h2 class="card-text coffTotalDays">@Model.TotalDays</h2>
                                        <p>Days Applied </p>

                                    </div>
                                </div>
                                <div class="employee-outer-detils">


                                    <div class="ihits-table table-border mobile-responsive-table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th style="width: 50%;" scope="col">Already taken</th>

                                                    <th scope="col">Balance</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Already taken">@Model.CoffBalance.Availed</td>

                                                    <td data-label="Balance">
                                                        @Model.CoffBalance.Balance
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>



                                </div>
                                <br>
                                <p><strong>Approval Authorities</strong></p>
                                <div class="scroll">
                                    @{
                                        if (Model.LeaveDetails != null)
                                        {

                                            if (Model.LeaveDetails.EmployeeAuthority != null && Model.LeaveDetails.EmployeeAuthority.Count > 0)
                                            {

                                                for (int i = 0; i < Model.LeaveDetails.EmployeeAuthority.Count; i++)

                                                {
                                                    <div class="employee-outer-detils">

                                                        <div class="">
                                                            <div class="image-input image-input-outline image-input-circle  float-left mr-5" id="kt_image_4" style="background-image: url(@Model.LeaveDetails.EmployeeAuthority[i].AbsoluteUri)">

                                                                <div class="image-input-wrapper">
                                                                    <span class="badge-1">

                                                                        @Model.LeaveDetails.EmployeeAuthority[i].Level
                                                                    </span>
                                                                </div>
                                                            </div>


                                                            <div class="flex-grow-1">
                                                                <!--begin::Title-->
                                                                <div class="justify-content-between flex-wrap mt-2">
                                                                    <div class="mr-3 header-profile-name">
                                                                        <a class="header-profile-name">

                                                                            @Model.LeaveDetails.EmployeeAuthority[i].AuthorityName
                                                                        </a>

                                                                        <p>
                                                                            @Model.LeaveDetails.EmployeeAuthority[i].PhoneNumber,@Model.LeaveDetails.EmployeeAuthority[i].Email
                                                                        </p>

                                                                    </div>

                                                                </div>

                                                                <!--end::Title-->

                                                            </div>

                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    }







                                </div>
                            </div>


                        </div>
                    </div>

                    <!-- right leave view start -->


                </div>

                <!--end::Row-->
                <!--begin::Row-->
                <!--end::Row-->
                <!--end::Dashboard-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->

    </div>
}
