@model Hrms.Lite.Essp.Shared.ESSP.MyProfile.MyProfile
<div class="row">
    <div class="col-md-12">
        <div class="ihits-table table-border mobile-responsive-table personal-details-education-section mb-2">
            <table id="education">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Qualification Type</th>
                        <th scope="col">Qualification</th>
                        <th scope="col">Specialization of Branch</th>
                        <th scope="col">Year of Completion</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @*@Html.HiddenFor(m => m.EmployeeGI)*@

                    @for (int i = 0; i < Model.Education.Count; i++)
                    {
                        @if (Model.Education[i].EducationLogGI != Guid.Parse("00000000-0000-0000-0000-000000000000"))
                        {
                            <tr id="row_OI_@i">
                                <td data-label="Qualification Type">
                                    @Html.HiddenFor(m => m.Education[i].EducationLogGI)
                                    @Html.DisplayFor(m => m.Education[i].QualificationTypeName)

                                </td>
                                <td data-label="Qualofication">

                                    @Html.DisplayFor(m => m.Education[i].QualificationName)
                                </td>
                                <td data-label="Field of Study">

                                    @Html.DisplayFor(m => m.Education[i].SpecialisationName)
                                </td>
                                <td data-label="Year of Completion">

                                    @Html.DisplayFor(m => m.Education[i].YearOfCompletionName)
                                </td>

                                <td data-label="Edit">
                                    <div class="small-btn-group">
                                        <button id="addEducationDetails" type="button"
                                                class="btn btn-icon btn-default slider-btn icon-only" data-toggle="tooltip" data-placement="top" title="Edit" onclick="onEducationSave('@Model.Education[i].EducationLogGI')">
                                            <i class="icon-xl fas fa-pencil-alt"></i>
                                        </button>

                                        <button type="button"
                                                class="btn btn-icon btn-delete icon-only" data-toggle="tooltip" data-placement="top" title="Delete" onclick="onEducationDelete('@Model.Education[i].EducationLogGI')">
                                            <i class="icon-xl far fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>No table data</td>
                            </tr>
                        }

                    }







                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <button id="addEducationDetails" type="button" class="btn btn-default float-right slider-btn" onclick="onEducationSave()">
            <i class="icon-nm fas fa-plus"></i>Add
            New
        </button>
        <div id="educationSav" class="hide">

            @await Html.PartialAsync("_EducationSave", Model)
        </div>
    </div>
</div>