@model Hrms.Lite.Essp.Shared.ESSP.MyProfile.MyProfile
@{
Model.TabIndex = "Family Details";
}
<script src="~/js/bootstrap-datepicker.js"></script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "pada" }))
{
    @Html.HiddenFor(m => m.TabIndex)
    @*@Html.HiddenFor(m => m.EmployeeGI)*@
    @Html.HiddenFor(m => m.GetFamilyDetails.DateOfBirth)
    <div id="addFamilyDetails" class="slider-forms slider-forms-open fam">
        <div class="slider-inner-style">
            <div class="slider-form-close" onclick="CloseSlider('fam')"><i class="ki ki-close icon-xs text-muted"></i></div>
            <h3>Family Details</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Name</label>
                        @Html.HiddenFor(m => m.GetFamilyDetails.FamilyLogGI, new { @class = "form-control form-control-sm", @placeholder = "familyGI" })
                        @Html.HiddenFor(m => m.SliderName)
                        @Html.TextBoxFor(m => m.GetFamilyDetails.Name, new { @class = "form-control", placeholder = "Name", @maxlength = 120, @onblur = "firstLetterCaps(this,'fmlyname')", @onkeypress = "return onlyLettersKey(event)" })
                        <span id="fmlyname" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Relation</label>
                        @*<input type="text" class="form-control form-control-sm" placeholder="Relation">*@
                        @Html.DropDownListFor(m => m.GetFamilyDetails.Relation.Code, (SelectList)ViewBag.Fam, "--Select Relation--", new { @class = "form-control form-control-sm", @onchange = "validate(this,'familyrelation')" })
                        <span id="familyrelation"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <div class="input-group date">
                            @*<input type="text" class="form-control kt_datepicker_2" id="kt_datepicker_2" readonly="readonly"
                                placeholder="Date Of Issue">*@
                            @Html.TextBoxFor(m => m.GetFamilyDetails.DateOfBirth, "{0:dd-MMM-yyyy}", new { @class = "form-control kt_datepicker_2 datepkr", placeholder = "Date Of Birth", @onchange = "validate(this,'fmlydob')" })
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                            <span id="fmlydob"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Occupation</label>
                        @*<input type="text" class="form-control form-control-sm" placeholder="Occupation">*@
                        @Html.TextBoxFor(m => m.GetFamilyDetails.Occupation, new { @class = "form-control", placeholder = "Occupation", @maxlength = 120, @onblur = "firstLetterCapsWithOutValidation(this)" })

                    </div>
                    <span id="occupation"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Status</label>
                        @*<input type="text" class="form-control form-control-sm" placeholder="Status">*@
                        @*@Html.TextBoxFor(m => m.GetFamilyDetails.Status, new { @class = "form-control", placeholder = "Status" })*@
                        @Html.DropDownListFor(m => m.GetFamilyDetails.Status.Code, (SelectList)ViewBag.Sta, "--Select Status--", new { @class = "form-control form-control-sm", @onchange = "validate(this,'status  ')" })
                        <span id="status"></span>
                    </div>
                </div>
            </div>
            <div class="row card-footer-bottom-fixed border-none">

                <div class="col-md-12 float-right-btn">
                    <button id="famid" type="button" class="btn btn-default" onclick="validateAllFamilySave()">@Model.SliderName</button>
                </div>
            </div>

        </div>
    </div>
}