@model Hrms.Lite.Essp.Shared.ESSP.MyProfile.MyProfile
<div class="row">
    <div class="col-md-12">
        <div class="ihits-table table-border mobile-responsive-table personal-details-previous-employment mb-2">
            <table id="previousEmployment">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Company Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Designation</th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Experience</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.PreviousEmployment.Count; i++)
                    {
                        @if (Model.PreviousEmployment[i].PrevEmploymentLogGI != Guid.Parse("00000000-0000-0000-0000-000000000000"))
                        {
                            <tr id="row_OI_@i">
                                <td data-label="Company Name & Address">
                                    @*<input class="form-control" type="text"
                                        placeholder="Ihits Technologies">*@
                                    @Html.HiddenFor(m => m.PreviousEmployment[i].PrevEmploymentLogGI)
                                    @Html.DisplayFor(m => m.PreviousEmployment[i].CompanyName)

                                </td>
                                <td data-label="Location">
                                    @*<input class="form-control" type="text"
                                        placeholder="Location">*@
                                    @Html.DisplayFor(m => m.PreviousEmployment[i].Location)
                                </td>
                                <td data-label="Designation">
                                    @*<input class="form-control" type="text"
                                        placeholder="Team Leader">*@
                                    @Html.DisplayFor(m => m.PreviousEmployment[i].Designation)
                                </td>
                                <td data-label="From">
                                    <div class="input-group date">
                                        @*<input type="text" class="form-control kt_datepicker_2"
                                            readonly="readonly"
                                            placeholder="Select date" />*@
                                        @Html.Encode(String.Format("{0:dd-MMM-yyyy}", Model.PreviousEmployment[i].Fromdate))
                                    </div>
                                </td>
                                <td data-label="To">
                                    <div class="input-group date">
                                        @*<input type="text" class="form-control kt_datepicker_2"
                                            readonly="readonly"
                                            placeholder="Select date" />*@
                                        @Html.Encode(String.Format("{0:dd-MMM-yyyy}", Model.PreviousEmployment[i].Todate))
                                    </div>
                                </td>
                                <td data-label="Experience">
                                    @*<input class="form-control" type="text"
                                        placeholder="Experience">*@
                                    @Html.DisplayFor(m => m.PreviousEmployment[i].Experience)
                                </td>

                                <td data-label="Actions">
                                    <div class="small-btn-group">
                                        <button id="addPreviousEmployment" type="button"
                                                class="btn btn-icon btn-default slider-btn icon-only" data-toggle="tooltip" data-placement="top" title="Edit" onclick="onPrevEmploymentSave('@Model.PreviousEmployment[i].PrevEmploymentLogGI')">
                                            <i class="icon-xl fas fa-pencil-alt"></i>
                                        </button>

                                        <button type="button"
                                                class="btn btn-icon btn-delete icon-only" data-toggle="tooltip" data-placement="top" title="Delete" onclick="onPrevEmploymentDelete('@Model.PreviousEmployment[i].PrevEmploymentLogGI')">
                                            <i class="icon-xl far fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>No table data</td>
                            </tr>
                        }
                    }





                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ">
        <button id="addPreviousEmployment" type="button" class="btn btn-default float-right slider-btn" onclick="onPrevEmploymentSave()">
            <i class="icon-nm fas fa-plus"></i>Add
            New
        </button>
        <div id="previousSav">


        </div>
    </div>
</div>